.block {
  background: var(--color-white);
  border-radius: 12px;
  box-shadow: var(--color-shadow);  /* тень с цветом */
  padding: 10px 20px 20px;
}

.title {
  font-size: var(--font-size-h3);
  font-weight: 800;
  background-color: var(--color-tried);
  border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;
  width: 90%;
  margin-bottom: 15px;
  margin-top: 0;
  padding-right: 10px;
}

.text {
  font-size: var(--font-size-base);
  margin-top: 0;
}

.list {
  margin-bottom: 16px;
  padding-left: 20px;
}

.list li {
  margin-bottom: 8px;
  line-height: 1.5;
}

.list li strong {
  font-weight: 700;
}

.link {
  color: var(--color-text);
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--color-primary);
}

@media (max-width: 768px) {
 

  .title {
    font-size: var(--font-size-h2-mobile); /* чуть меньше заголовок */
    padding: 6px 10px;
    width: 90%; 
    font-weight: 700;
    margin-top: 10px;
  }

  .text {
    font-size: var(--font-size-text-mobile); /* меньше текст */
  }

  .list {
    padding-left: 16px;
  }

  .list li {
    font-size: var(--font-size-text-mobile);
  }

  .link {
    font-size: var(--font-size-text-mobile);
  }
}
@media (max-width: 480px) {
  .block {
    padding: 12px 10px;
  }

  .title {
    font-size: 16px;
  }

  .text, .list li, .link {
    font-size: 13px;
  }
}

