.servicesLinks {
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 4px 12px var(--color-primary);
  background-color: var(--color-secondary);
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
/* Планшеты */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Смартфоны */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* ✅ 2 карточки в ряд */
    gap: 5px;
  }
  .servicesLinks {
    margin-top: 150px;
  }

}

