.typesVisaLinks {
  box-sizing: border-box;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
/* Планшеты */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Смартфоны */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* ✅ 2 карточки в ряд */
    gap: 5px;
  }
  .typesVisaLinks {
    margin-top: 15px;
  }
  
}